.places{
    max-width: 1000px;
}

section.places h1 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 0px;
}

section.places .articles{
    display: flex;
    flex-wrap: wrap;
}

section.places article{
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section.places article h2{
    font-size: 30px;
    text-align: center;

    margin-bottom: 0px;
    padding-bottom: 0px;
}


article .price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;

    margin-bottom: 10px;
    margin-top: -20px;
    margin-left: 80%;
    padding: 5px;
    right: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
}

article .information{
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

div.information .max_guest{
    background-image: url(../images/guest_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: auto;
    text-align: center;

    padding-top: 70px;
    margin-top: 0px;
}

div.information .number_rooms{
    background-image: url(../images/icon_bed.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: auto;
    text-align: center;

    padding-top: 70px;
    margin-top: 0px;
}

div.information .number_bathrooms{
    background-image: url(../images/icon_bath.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: auto;
    text-align: center;

    padding-top: 70px;
    margin-top: 0px;
}

article .user{
    margin-left: -80%;
    margin-top: 10px;
}

article .description{
    margin-left: -5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}